<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="userName" />
      <p>{{ userName }}</p>
      <button
        class="btn btn-primary"
        [disabled]="userName.length <= 0"
        (click)="onResetUserName()"
      >
        Reset User
      </button>
      <div>
        <button class="btn btn-primary" (click)="onDetailsClick()">
          Display Details
        </button>
        <p *ngIf="showParagraph">Secret Password = tuna</p>
        <div
          *ngFor="let log of detailsLog; let i = index"
          [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
          [ngClass]="{ 'white-text': i >= 4 }"
        >
          {{ log }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-active-users></app-active-users>
        <app-inactive-users></app-inactive-users>
      </div>
      <!--
        Optimize this app by adding a UsersService which manages the active and inactive users.

        Also add a CounterService which counts the number of active->inactive and inactive->active actions.
      -->
    </div>
  </div>
</div>
